a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/* Button 408 */
.button {
  width: 80px;
  height: 36px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter; /* Body */
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFFFF; /* white */
  background: #00BDD6FF; /* primary-500 */
  opacity: 1;
  border: none;
  border-radius: 4px; /* border-m */
}
/* Hover */
.button:hover {
  color: #FFFFFFFF; /* white */
  background: #00A9C0FF; /* primary-550 */
}
/* Pressed */
.button:hover:active {
  color: #FFFFFFFF; /* white */
  background: #0095A9FF; /* primary-600 */
}
/* Disabled */
.button:disabled {
  opacity: 0.4;
}
