@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="css/home.css">

<div class="text-center">
    <h1 class="main-text">Переводим расписание на новый уровень!</h1>
    <span class="text">С нашем приложением, деканаты с легкостью сгенерируют оптимизированные расписания, обеспечивая эффективное использование ресурсов и гибкость в управлении.</span>
    <img src="images/Board1.png" alt="Описание картинки" class="image">
</div>